.Pure{
    margin-left: 80px;
    /* background-color: blue; */
    margin-right: 80px;
}
.Heading{
    margin-left: 40px;
}
.example{
    text-align: center;
}
.complete{
    background-color: lightgreen;
    padding-bottom: 10px;
}
.HComplete{
    background-color: lightskyblue;
}